@media screen {
    body {
        background-image: url(images/background.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: 'Rubik', sans-serif;
        font-size: x-large;
        font-weight: bolder;
    }
}

@media (max-width: 740px) {
	.discord, .twitter, .youtube, .steam {
		opacity: 50%;
	}

    .discord:hover, .twitter:hover, .youtube:hover, .steam:hover {
        opacity: 0.5;
    }

}

body {
    text-align: center;
}

.glow-on-hover {
    width: 345px;
    height: 75px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #9a0e7700;
    backdrop-filter: blur(10px);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
    outline: solid #f319bd9f;
    outline-width: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.glow-on-hover:before {
    content: '';
    background: #b9118f;
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(10px);
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 20px;
}

.glow-on-hover:active {
    color: rgb(150, 150, 150);
}

.glow-on-hover:active:after {
    background: #720a58;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #9a0e779c;
    left: 0;
    top: 0;
    border-radius: 20px;
}

button {
    display: inline-block;
    background-color: #9a0e7786;
    border-radius: 20px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    font-family: 'Rubik', sans-serif;
    padding: 20px;
    width: 400px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    outline: solid #f319bc;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover {
    background-color: #eeb4ff00;
    transform: scale(1.05);
}

button:hover span {
    padding-right: 25px;

}

button:hover span:after {
    opacity: 1;
    right: 0;
}

.icons {
    width: 80px;
    outline: #ffffff00;
}

img {
    max-width: 345px;
    border-radius: 25px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    outline: solid #f319bda6;
    outline-width: 3px;
}

body {
    background-color: #18101D;
    color: white;
}

.box {
    max-width: 570px;
    background-color: rgba(92, 0, 84, 0.233);
    overflow-wrap: break-word;
    border-radius: 20px;
    outline: solid #f319bda9;
    outline-width: 3px;
    margin: 0px auto 20px auto;
    margin-bottom: 15px;
    padding-top: 0.5px;
    padding-bottom: 1px;
    position: relative;
    padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
}

.box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: -1;
}

.p {
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.651);
    margin: 5px;
    padding: 10px;
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    -ms-filter: blur(100px);
    filter: blur(100px);
}

.discord {
    width: 96px;
    outline: dashed #00000000;
    top: 0;
    left: 1.5px;
    display: block;
    position: fixed;
    transition-duration: 0.3s;
    margin-top: 10px;
}

.steam {
    width: 84px;
    outline: dashed #00000000;
    top: 100px;
    left: 10px;
    display: block;
    position: fixed;
    transition-duration: 0.3s;
    margin-top: 10px;
}

.youtube {
    width: 84px;
    outline: dashed #00000000;
    top: 200px;
    left: 10px;
    display: block;
    position: fixed;
    transition-duration: 0.3s;
    margin-top: 10px;
}

.twitter {
    width: 84px;
    outline: dashed #00000000;
    top: 300px;
    left: 10px;
    display: block;
    position: fixed;
    transition-duration: 0.3s;
    margin-top: 10px;
}

.discord:hover {
    opacity: 0.8;
    transform: scale(0.92);
}

.steam:hover {
    opacity: 0.7;
    transform: scale(0.92);
}

.youtube:hover {
    opacity: 0.7;
    transform: scale(0.92);
}

.twitter:hover {
    opacity: 0.7;
    transform: scale(0.92);
}

p {
    color: rgb(255, 255, 255);
    text-align: center
}
/* Dropdown Button */
.dropbtn {
    background-color: #c4984663;
    color: white;
    padding: 16px;
    font-size: 30px;
    border: none;
    border-radius: 20px;
    font-family: 'Rubik', sans-serif;
    margin-top: 10px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
  }
  
  /* Dropdown Content */
  .dropdown-content {
    position: absolute;
    background-color: rgba(92, 0, 84, 0.233);
    backdrop-filter: blur(10px);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px;
    outline: solid #f319bda6;
    outline-width: 3px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
    right: 75px;
    left: 75px;
    padding: 10px;
  }
  

  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 20px;
    font-family: 'Rubik', sans-serif;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #84318f81;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block; transition: 0.5s; margin-left: auto; margin-right: auto;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #c4984642; backdrop-filter: blur(5px);
}

hr { border: 2px solid rgb(255, 255, 255);
     width: 87%;
     margin: auto;
     margin-top: 2%;
     margin-bottom: 2%;
   }

.social {
    width: 345px;
    height: 75px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #9a0e7700;
    backdrop-filter: blur(10px);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
    outline: solid #f319bc;
    outline-width: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 360px;
}

.social:before {
    content: '';
    background: #9A0E78;
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(10px);
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 20px;
}

.social:active {
    color: rgb(150, 150, 150)
}

.social:active:after {
    background: #720a58;
}

.social:hover:before {
    opacity: 1;
}

.social:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #9a0e779c;
    left: 0;
    top: 0;
    border-radius: 20px;
}
